<section class="section">
  <h1 class="title is-1">Users</h1>
  <% if @users.empty? %>
    <p>There are no users on this site! (how are you seeing this?)</p>
  <% else %>
    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.name, user %></li>
      <% end %>
    </ul>
  <% end %>
</section>
