<h1><%= @user.name %></h1>
<% if @user == current_user %>
  <%= render 'posts/form', post: @post %>
<% end %>
<% if @posts.empty? %>
  <p>No posts yet!</p>
<% else %>
  <ul>
    <% @posts.each do |post| %>
      <li><%= post.body %></li>
    <% end %>
  </ul>
<% end %>