<section class="section">
  <h1 class="title is-1">Your friends</h1>
  <% if @friendships.empty? %>
    <p>You have no friends yet!</p>
  <% else %>
    <ul>
      <% @friendships.each do |friendship| %>
        <li><%= link_to friendship.friend.name, user_path(friendship.friend) %></li>
      <% end %>
    </ul>
  <% end %>
</section>
