<div class="tags has-addons">
  <%= link_to 'Accept', friendships_path(requester_id: requester_id), method: :post, class: 'tag is-primary' %>
  <%= link_to 'Deny', friend_request_path(id: current_user.received_friend_requests.find_by(requester: requester)), method: :delete, class: 'tag is-danger' %>
</div>