<section class="section">
  <h1 class="title is-1">Friend requests</h1>
  <% if @friend_requests.empty? %>
    <p>You have no pending friend requests!</p>
  <% else %>
    <ul>
      <% @friend_requests.each do |friend_request| %>
        <li><%= friend_request.requester.name%> - <%= render 'accept_or_deny', requester_id: friend_request.requester.id, requester: friend_request.requester %></li>
      <% end %>
    </ul>
  <% end %>
</section>
