<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= link_to post.user do %>
        <%= image_tag post.user.profile_picture.variant(resize_to_fill: [64, 64]) if post.user.profile_picture.attached? %>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <%= render 'posts/post_content', post: post %>
  </div>
</article>
