<%= render 'form', post: @post %>

<% unless @posts.empty? %>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.user.name, user_path(post.user) %>: <%= post.body %></li>
    <% end %>
  </ul>
<% end %>