<section class="section">
  <%= render 'form', post: @post %>

  <% unless @posts.empty? %>
    <% @posts.each do |post| %>
      <%= render 'post_display', post: post %>
    <% end %>
  <% end %>
</section>
