<section class="section">
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <div class="box">
        <%= render 'form', post: @post %>
      </div>
      <% unless @posts.empty? %>
        <div class="box">
          <% @posts.each do |post| %>
            <%= render 'post_display', post: post %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
