<section class="section">
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <%# Using Cloudinary: %>
              <%= cl_image_tag(current_user.profile_picture.key, width: 64, height: 64, crop: :fill) %>
              <%# Using local storage: %>
              <%#= image_tag current_user.profile_picture.variant(resize_to_fill: [64, 64]) if current_user.profile_picture.attached? %>
            </p>
          </figure>
          <div class="media-content">
            <%= render 'post_content', post: @post %>
            <% if @comments.present? %>
              <% @comments.each do |comment| %>
                <%= render 'comments/display_comment', comment: comment %><br />
              <% end %>
            <% end %>
            <%= render 'comments/comment_form', comment: @comment, post: @post %>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
